einops
einx
omegaconf
soundfile
soxr
transformers
torch>=2.5.1
torchaudio>=2.5.1
fastapi
uvicorn
httpx
snac
av
librosa==0.11.0
pyloudnorm
openai-whisper
python-multipart
demoji
semantic_text_splitter
tqdm
Flask
flask_cors
llama-cpp-python
pydub==0.25.1
datasets
numpy
python-Levenshtein